matterbridge-mqtt-test.flow.json
[
  {
    "id": "mqtt-broker-ext",
    "type": "mqtt-broker",
    "name": "Broker Externe",
    "broker": "192.168.1.100",
    "port": "1883",
    "clientid": "nodered-mb-test",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": { "user": "", "password": "" }
  },
  { "id": "tab-outlet",  "type": "tab", "label": "Outlet / Switch",  "disabled": false },
  { "id": "tab-light",   "type": "tab", "label": "Light Dimmable",   "disabled": false },
  { "id": "tab-temp",    "type": "tab", "label": "Temp / Humidity",  "disabled": false },
  { "id": "tab-contact", "type": "tab", "label": "Contact Sensor",   "disabled": false },
  { "id": "cmt-outlet", "type": "comment", "z": "tab-outlet", "name": "Config: outlet -> stateTopic: test/outlet/state | commandTopic: test/outlet/command  /  switch -> stateTopic: test/switch/state | commandTopic: test/switch/command", "x": 450, "y": 40, "wires": [] },
  { "id": "inj-outlet-on",  "type": "inject", "z": "tab-outlet", "name": "ON",     "payload": "ON",     "payloadType": "str", "x": 120, "y": 100, "wires": [["fn-outlet"]] },
  { "id": "inj-outlet-off", "type": "inject", "z": "tab-outlet", "name": "OFF",    "payload": "OFF",    "payloadType": "str", "x": 120, "y": 160, "wires": [["fn-outlet"]] },
  { "id": "inj-outlet-tog", "type": "inject", "z": "tab-outlet", "name": "TOGGLE", "payload": "TOGGLE", "payloadType": "str", "x": 120, "y": 220, "wires": [["fn-outlet"]] },
  { "id": "fn-outlet", "type": "function", "z": "tab-outlet", "name": "set topic outlet", "func": "msg.topic='test/outlet/state'; return msg;", "x": 340, "y": 160, "wires": [["mqtt-out-outlet","dbg-outlet-pub"]] },
  { "id": "mqtt-out-outlet",    "type": "mqtt out", "z": "tab-outlet", "name": "", "topic": "", "qos": "1", "retain": false, "broker": "mqtt-broker-ext", "x": 570, "y": 140, "wires": [] },
  { "id": "dbg-outlet-pub",     "type": "debug",    "z": "tab-outlet", "name": "Publie", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 570, "y": 195, "wires": [] },
  { "id": "mqtt-in-outlet-cmd", "type": "mqtt in",  "z": "tab-outlet", "name": "test/outlet/command", "topic": "test/outlet/command", "qos": "1", "datatype": "utf8", "broker": "mqtt-broker-ext", "x": 200, "y": 300, "wires": [["dbg-outlet-cmd"]] },
  { "id": "dbg-outlet-cmd",     "type": "debug",    "z": "tab-outlet", "name": "Commande Matter recue", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 500, "y": 300, "wires": [] },
  { "id": "sep-sw", "type": "comment", "z": "tab-outlet", "name": "--- Switch ---", "x": 200, "y": 370, "wires": [] },
  { "id": "inj-switch-on",  "type": "inject", "z": "tab-outlet", "name": "ON",  "payload": "ON",  "payloadType": "str", "x": 120, "y": 420, "wires": [["fn-switch"]] },
  { "id": "inj-switch-off", "type": "inject", "z": "tab-outlet", "name": "OFF", "payload": "OFF", "payloadType": "str", "x": 120, "y": 480, "wires": [["fn-switch"]] },
  { "id": "fn-switch", "type": "function", "z": "tab-outlet", "name": "set topic switch", "func": "msg.topic='test/switch/state'; return msg;", "x": 330, "y": 450, "wires": [["mqtt-out-switch","dbg-switch-pub"]] },
  { "id": "mqtt-out-switch",    "type": "mqtt out", "z": "tab-outlet", "name": "", "topic": "", "qos": "1", "retain": false, "broker": "mqtt-broker-ext", "x": 560, "y": 430, "wires": [] },
  { "id": "dbg-switch-pub",     "type": "debug",    "z": "tab-outlet", "name": "Publie", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 560, "y": 480, "wires": [] },
  { "id": "mqtt-in-switch-cmd", "type": "mqtt in",  "z": "tab-outlet", "name": "test/switch/command", "topic": "test/switch/command", "qos": "1", "datatype": "utf8", "broker": "mqtt-broker-ext", "x": 200, "y": 570, "wires": [["dbg-switch-cmd"]] },
  { "id": "dbg-switch-cmd",     "type": "debug",    "z": "tab-outlet", "name": "Commande Matter recue", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 500, "y": 570, "wires": [] },
  { "id": "cmt-light", "type": "comment", "z": "tab-light", "name": "Config: type=light | stateTopic: test/light/state | commandTopic: test/light/command | brightnessStateTopic: test/light/brightness | brightnessCommandTopic: test/light/brightness/command", "x": 500, "y": 40, "wires": [] },
  { "id": "inj-light-on",  "type": "inject", "z": "tab-light", "name": "ON",  "payload": "ON",  "payloadType": "str", "x": 120, "y": 100, "wires": [["fn-light-state"]] },
  { "id": "inj-light-off", "type": "inject", "z": "tab-light", "name": "OFF", "payload": "OFF", "payloadType": "str", "x": 120, "y": 160, "wires": [["fn-light-state"]] },
  { "id": "fn-light-state", "type": "function", "z": "tab-light", "name": "set topic light state", "func": "msg.topic='test/light/state'; return msg;", "x": 340, "y": 130, "wires": [["mqtt-out-light-state"]] },
  { "id": "mqtt-out-light-state", "type": "mqtt out", "z": "tab-light", "name": "", "topic": "", "qos": "1", "retain": false, "broker": "mqtt-broker-ext", "x": 570, "y": 130, "wires": [] },
  { "id": "sep-bri", "type": "comment", "z": "tab-light", "name": "--- Luminosite (0-100%) ---", "x": 230, "y": 220, "wires": [] },
  { "id": "inj-light-10",  "type": "inject", "z": "tab-light", "name": "10%",  "payload": "10",  "payloadType": "str", "x": 120, "y": 270, "wires": [["fn-light-bri"]] },
  { "id": "inj-light-50",  "type": "inject", "z": "tab-light", "name": "50%",  "payload": "50",  "payloadType": "str", "x": 120, "y": 330, "wires": [["fn-light-bri"]] },
  { "id": "inj-light-100", "type": "inject", "z": "tab-light", "name": "100%", "payload": "100", "payloadType": "str", "x": 120, "y": 390, "wires": [["fn-light-bri"]] },
  { "id": "inj-light-auto", "type": "inject", "z": "tab-light", "name": "Rampe auto (3s)", "payload": "", "payloadType": "str", "repeat": "3", "once": true, "x": 160, "y": 450, "wires": [["fn-light-rand"]] },
  { "id": "fn-light-rand", "type": "function", "z": "tab-light", "name": "valeur aleatoire", "func": "msg.payload=String(Math.round(Math.random()*100));\nmsg.topic='test/light/brightness';\nreturn msg;", "x": 390, "y": 450, "wires": [["mqtt-out-light-bri","dbg-light-bri"]] },
  { "id": "fn-light-bri", "type": "function", "z": "tab-light", "name": "set topic brightness", "func": "msg.topic='test/light/brightness'; return msg;", "x": 360, "y": 330, "wires": [["mqtt-out-light-bri","dbg-light-bri"]] },
  { "id": "mqtt-out-light-bri",   "type": "mqtt out", "z": "tab-light", "name": "", "topic": "", "qos": "1", "retain": false, "broker": "mqtt-broker-ext", "x": 620, "y": 370, "wires": [] },
  { "id": "dbg-light-bri",        "type": "debug",    "z": "tab-light", "name": "Publie", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 620, "y": 420, "wires": [] },
  { "id": "mqtt-in-light-cmd",    "type": "mqtt in",  "z": "tab-light", "name": "test/light/command",             "topic": "test/light/command",             "qos": "1", "datatype": "utf8", "broker": "mqtt-broker-ext", "x": 200, "y": 560, "wires": [["dbg-light-cmd"]] },
  { "id": "mqtt-in-light-bricmd", "type": "mqtt in",  "z": "tab-light", "name": "test/light/brightness/command",  "topic": "test/light/brightness/command",  "qos": "1", "datatype": "utf8", "broker": "mqtt-broker-ext", "x": 220, "y": 620, "wires": [["dbg-light-cmd"]] },
  { "id": "dbg-light-cmd", "type": "debug", "z": "tab-light", "name": "Commande Matter recue", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 550, "y": 590, "wires": [] },
  { "id": "cmt-temp", "type": "comment", "z": "tab-temp", "name": "Config: temperature -> stateTopic: test/temperature  /  humidity -> stateTopic: test/humidity  (accepte valeur brute ou JSON)", "x": 430, "y": 40, "wires": [] },
  { "id": "inj-temp-18",   "type": "inject", "z": "tab-temp", "name": "18.5 C",          "payload": "18.5",                                  "payloadType": "str", "x": 140, "y": 100, "wires": [["fn-temp"]] },
  { "id": "inj-temp-22",   "type": "inject", "z": "tab-temp", "name": "22.0 C",          "payload": "22.0",                                  "payloadType": "str", "x": 140, "y": 160, "wires": [["fn-temp"]] },
  { "id": "inj-temp-json", "type": "inject", "z": "tab-temp", "name": "JSON temp+hum",   "payload": "{\"temperature\":24.1,\"humidity\":61}", "payloadType": "str", "x": 140, "y": 220, "wires": [["fn-temp"]] },
  { "id": "inj-temp-auto", "type": "inject", "z": "tab-temp", "name": "Simulation auto (5s)", "payload": "", "payloadType": "str", "repeat": "5", "once": true, "x": 160, "y": 280, "wires": [["fn-temp-rand"]] },
  { "id": "fn-temp-rand", "type": "function", "z": "tab-temp", "name": "valeurs aleatoires", "func": "const t=(17+Math.random()*10).toFixed(1);\nconst h=Math.round(40+Math.random()*40);\nmsg.payload=JSON.stringify({temperature:parseFloat(t),humidity:h});\nmsg.topic='test/temperature';\nreturn msg;", "x": 410, "y": 280, "wires": [["mqtt-out-temp","dbg-temp"]] },
  { "id": "fn-temp", "type": "function", "z": "tab-temp", "name": "set topic temperature", "func": "msg.topic='test/temperature'; return msg;", "x": 390, "y": 160, "wires": [["mqtt-out-temp","dbg-temp"]] },
  { "id": "mqtt-out-temp", "type": "mqtt out", "z": "tab-temp", "name": "", "topic": "", "qos": "1", "retain": false, "broker": "mqtt-broker-ext", "x": 640, "y": 200, "wires": [] },
  { "id": "dbg-temp",      "type": "debug",    "z": "tab-temp", "name": "Publie", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 640, "y": 255, "wires": [] },
  { "id": "sep-hum", "type": "comment", "z": "tab-temp", "name": "--- Humidite separee ---", "x": 220, "y": 360, "wires": [] },
  { "id": "inj-hum-45",  "type": "inject", "z": "tab-temp", "name": "45%", "payload": "45", "payloadType": "str", "x": 120, "y": 410, "wires": [["fn-hum"]] },
  { "id": "inj-hum-70",  "type": "inject", "z": "tab-temp", "name": "70%", "payload": "70", "payloadType": "str", "x": 120, "y": 470, "wires": [["fn-hum"]] },
  { "id": "inj-hum-json","type": "inject", "z": "tab-temp", "name": "JSON {humidity:58}", "payload": "{\"humidity\":58}", "payloadType": "str", "x": 150, "y": 530, "wires": [["fn-hum"]] },
  { "id": "fn-hum", "type": "function", "z": "tab-temp", "name": "set topic humidity", "func": "msg.topic='test/humidity'; return msg;", "x": 380, "y": 470, "wires": [["mqtt-out-hum","dbg-hum"]] },
  { "id": "mqtt-out-hum", "type": "mqtt out", "z": "tab-temp", "name": "", "topic": "", "qos": "1", "retain": false, "broker": "mqtt-broker-ext", "x": 600, "y": 450, "wires": [] },
  { "id": "dbg-hum",      "type": "debug",    "z": "tab-temp", "name": "Publie", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 600, "y": 500, "wires": [] },
  { "id": "cmt-contact", "type": "comment", "z": "tab-contact", "name": "Config: type=contact_sensor | stateTopic: test/contact/state | payloadOpen: OPEN | payloadClosed: CLOSED", "x": 420, "y": 40, "wires": [] },
  { "id": "inj-contact-open",   "type": "inject", "z": "tab-contact", "name": "OPEN (ouvert)",  "payload": "OPEN",   "payloadType": "str", "x": 150, "y": 100, "wires": [["fn-contact"]] },
  { "id": "inj-contact-closed", "type": "inject", "z": "tab-contact", "name": "CLOSED (ferme)", "payload": "CLOSED", "payloadType": "str", "x": 150, "y": 160, "wires": [["fn-contact"]] },
  { "id": "inj-contact-1",      "type": "inject", "z": "tab-contact", "name": "1 (ferme)",       "payload": "1",      "payloadType": "str", "x": 150, "y": 220, "wires": [["fn-contact"]] },
  { "id": "inj-contact-0",      "type": "inject", "z": "tab-contact", "name": "0 (ouvert)",      "payload": "0",      "payloadType": "str", "x": 150, "y": 280, "wires": [["fn-contact"]] },
  { "id": "inj-contact-auto",   "type": "inject", "z": "tab-contact", "name": "Simulation porte (8s)", "payload": "", "payloadType": "str", "repeat": "8", "once": true, "x": 170, "y": 340, "wires": [["fn-contact-rand"]] },
  { "id": "fn-contact-rand", "type": "function", "z": "tab-contact", "name": "Alternance OPEN/CLOSED", "func": "context.state=!context.state;\nmsg.payload=context.state?'CLOSED':'OPEN';\nmsg.topic='test/contact/state';\nreturn msg;", "x": 430, "y": 340, "wires": [["mqtt-out-contact","dbg-contact-pub"]] },
  { "id": "fn-contact", "type": "function", "z": "tab-contact", "name": "set topic contact", "func": "msg.topic='test/contact/state'; return msg;", "x": 400, "y": 190, "wires": [["mqtt-out-contact","dbg-contact-pub"]] },
  { "id": "mqtt-out-contact",  "type": "mqtt out", "z": "tab-contact", "name": "", "topic": "", "qos": "1", "retain": false, "broker": "mqtt-broker-ext", "x": 660, "y": 240, "wires": [] },
  { "id": "dbg-contact-pub",   "type": "debug",    "z": "tab-contact", "name": "Publie", "active": true, "tosidebar": true, "tostatus": true, "complete": "payload", "x": 660, "y": 295, "wires": [] }
]
